body {
    background-color: rgb(76, 189, 174);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

h1 {
    width: 15%;
    font-size: 45pt;
    margin: 5% 42.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*FORM*/

form {
    width: 50%;
    margin: 0% 25%;
}

.flex {
    display: flex;
    align-items: center;
}

form .row {
    width: 70%;
    margin: 0 0 0 15%;
}

/*usually there's two inputs per row that share equal width*/
.flex label {
    width: 45%;
    margin: 0 0 0 5%;
}

/*first row (personal info) placed further away from others (journey data)*/

.one {
    margin-bottom: 2%;
}

/*description row whole width*/
.four label {
    width: 80%;
}

#desc {
    width: 100%;
}

input, button {
    border-style: none;
    margin: 0.5rem 0rem 2rem 0rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#addBtn {
    background-color: rgb(50, 122, 113);
    color: white;
    font-weight: bold;
    width: 20%;
    margin: 0% 40%;
}

#start, #end {
    width: 70%;
}

/*journeys list*/

#journeys-list {
    width: 60%;
    margin: 4% 20%;
}

div .left {
    width: 20%;
}

div .right {
    width: 40%;
}

#journeys-list div {
    margin: 2% 0%;
}

/*delete btn*/

button {
    color: rgb(50, 122, 113);
    border-style: none;
    background: transparent;
    margin: -2% 0 0 0;
    padding-left: 0;
}