:root {
    --red: #99370C;
    --lightred: #da674a;
    --salmon: #D9756A;
    --turqoise: #63a5a7;
    --aqua: #94d0c8;
    --modish: modish, sans-serif;
}

/*BODY, HEADERS*/

body {
    background-color: var(--aqua);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    box-sizing: border-box;
}

h5 {
    font-size: 2em;
    width: 20%;
    margin: 5% 0 -6% 45%;
}

h1 {
    font-size:  10em;
    color: var(--salmon);
    font-family: var(--modish);
    width: 22%;
    margin: 0 0 0 39%;
}

.flex {
    display: flex;
    align-items: flex-start;
}

/*headers - media queries*/

@media only screen and (max-width: 320px) {
    h5 {
        font-size: 0.8em;
        width: 5%;
        margin: 5% 0 15% 45%;
    }
    h1 {
        font-size: 1em;
        width: 40%;
        margin: 0 0 0 30%;
    }
}

@media only screen and (max-width: 480px) {
    h5 {
        margin: 5% 0 5% 45%;
    }
}

@media only screen and (max-width: 768px) {
    h5 {
        font-size: 1em;
        width: 5%;
        margin: 5% 0 -6% 47.5%;
    }
    h1 {
        font-size: 5em;
        width: 30%;
        margin: 0 0 0 35%;
    }
}

@media only screen and (max-width: 1000px) {
    #h1 {
        font-size: 6em;
        width: 50%;
        margin: -5% 0 0 25%;
    }
}

/*HEADER-Backgrnd*/

#header-background {
    background-image: url("../header-background.svg");
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: -5%;
    background-repeat: no-repeat;
}

/*header background - media queries*/

@media only screen and (max-width: 320px) {
    #header-background {
        background-size: 100%;
        background-position-y: 15%;
    }
}

@media only screen and (max-width: 768px) {
    #header-background {
        background-size: 90%;
        background-position-y: -2%;
    }
}

@media only screen and (max-width: 1250px) {
    #header-background {
        background-size: 85%;
        background-position-y: 0;
    }
}

/*FORM*/

form {
    width: 75%;
    margin: 0% 12.5%;
}

form .row {
    width: 80%;
    margin: 0 0 0 10%;
}

/*flex label == form "columns"*/
.flex label {
    width: 45%;
    margin: 0 2.5% 0 2.5%;
}

/*form layout - media queries*/

@media only screen and (max-width: 480px) {
    form, form .row {
        width: 100%;
        margin: 0;
    }

    .flex {
        display: inline-block;
    }

    .flex label {
        margin: 0;
    }
}

@media only screen and (max-width: 768px) {
    form {
        width: 80%;
        margin: 0% 10%;
    }
    
    form .row {
        width: 90%;
        margin: 0 0 2% 5%;
    }
}

input {
    width: 86%;
}

input, button {
    border-style: none;
    margin: 0.5em 0 1em 0;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

/*first row (personal info) placed further away from others (journey data)*/
.one input {
    margin-bottom: 3em;
}

/*description row*/

.four label {
    width: 100%;
}

#desc {
    width: 93.5%;
    height: 5rem;
}

/*ADD JOURNEY BTN*/
#addBtn {
    background-color: var(--turqoise);
    color: white;
    font-weight: bold;
    width: 20%;
    margin: 0 0 0 40%;
}

/*SORTING FORM*/

#sorting {
    text-align: center;
    margin-top: 4%;
    color: var(--turqoise);
    font-weight: bold;
}

#sorting label {
    margin-right: 0.5em;
}

#sorting select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    color:var(--aqua);
    background-color: var(--turqoise);
}

#sorting select option {
    color: var(--aqua);
    font-weight: bold;
}

/*arrow*/

/*...coming up. Hopefully.*/

/*LIST OF JOURNEYS*/

#journeys-list {
    width: 60%;
    margin: 4% 20%;
    background-color: var(--turqoise);
    border-radius: 1em;
    padding: 2em;
}

/*journeys list - media query*/
@media only screen and (max-width: 480px) {
    #journeys-list {
        width: 100%;
        margin: 0;
    }

    #journeys-list > :first-child {
        width: 90%;
        margin: 0;
    }
}

/*journey entry header*/
.journey-title {
    width: 100%;
    text-align: center;
    padding: 1em 0 0 0;
}

/*journey entry text columns*/
/*--div containing them*/
.journeyColumns {
    padding: 0 2em 0 2em;
}

/*--single columns*/
#journeys-list div .column {
    width: 50%;
    padding: 1em;
}

/*layout for smaller screens - test*/
@media only screen and (max-width: 600px) {
    #journeys-list {
      width: 100%;
      margin: 2% 0;
    }
    #journeys-list div .column {
        width: 100%;
    }
}

.bold {
    font-weight: bold;
}
.personalData, .dates-title, .memories, .weatherTitle {
    color: var(--aqua);
}

.travelLocation {
    font-family: var(--modish);
    color: white;
    font-size: 4em;
}

.weatherIcon {
    min-width: 40px;
    max-width: 100px;
    min-height: 40px;
    max-height: 100px;
    margin: 0 0 0 10%;
}

.weatherText {
    width: 90%;
    margin: 0 0 0 5%;
}

.quote {
    font-style: italic;
    margin-bottom: 5%;
}

/*delete btn*/

button {
    color: var(--aqua);
    background-color: rgb(99, 165, 167);
    border-style: none;
    margin: 0 0 0 2em;
}

button:hover {
    color: var(--salmon);
    font-weight: bold;
}

/*horizontal rule - separating line btw journeys*/

hr {
    color: var(--aqua);
    stroke-width: 1em;
}