/*colour palette from "travel blog palette" by Sara Cannon on dribbble*/
:root {
    --red: #c75056;
    --lightred: #E38169;
    --orange: #e8a243;
    --yellow: #eacc16;
    --turqoise: #63a5a7;
    --aqua: #94d0c8;
}

/*GENERAL*/

body {
    background-color: var(--aqua);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
}

h1 {
    width: 15%;
    font-size: 4em;
    margin: 5% 42.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*FORM*/

form {
    width: 50%;
    margin: 0% 25%;
}

.flex {
    display: flex;
    align-items: center;
}

form .row {
    width: 70%;
    margin: 0 0 0 15%;
    border: 2px solid pink;
}

/*usually there's two inputs per row that share equal width*/
.flex label {
    width: 45%;
    margin: 0 2.5% 0 2.5%;
    border: 2px solid red;
}

input {
    width: 86%;
}

input, button {
    border-style: none;
    margin: 0 0 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

/*first row (personal info) placed further away from others (journey data)*/
.one input {
    margin-bottom: 2.5rem;
}

/*description row*/

.four label {
    width: 100%;
    border: 2px solid black;
}

#desc {
    width: 93.5%;
    height: 5rem;
}

/*add journey btn*/
#addBtn {
    background-color: var(--turqoise);
    color: white;
    font-weight: bold;
    width: 20%;
    margin: 0% 40%;
}

/*LIST OF JOURNEYS*/

#journeys-list {
    width: 60%;
    margin: 4% 20%;
}

div .left {
    width: 20%;
}

div .right {
    width: 40%;
}

#journeys-list div {
    margin: 2% 0%;
}

.personalData {
    font-weight: bold;
    color: var(--turqoise); 
}

.travelLocation {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--lightred);
}

.quote {
    font-style: italic;
    margin-bottom: 5%;
}

/*delete btn*/

button {
    color: var(--turqoise);
    border-style: none;
    background: transparent;
}